<script src="js/wow.min.js"></script>
<script src="js/functions.js"></script>
<nav class="navbar navbar-default" role="navigation">
  <div class="navigation">
    <div class="container-fluid">
      <div class="navbar-header navbar-left">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <a href="index.html"><h1><span>Inspired</span>Learning</h1></a>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbar">

        <ul class="nav navbar-nav">
          <li class="active" role="presentation"><a href="index.html" class="active">Home</a></li>
          <li role="presentation"><a href="about.html">About Us</a></li>
          <li role="presentation">
            <div class="dropdown">
              <button class="btn btn-link dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Services
  <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal">Webisodes</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal">Video Tutorials</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal">Do it yourself</a></li>
              </ul>
            </div>
          </li>
          <!--<button class="btn btn-link" data-toggle="modal" data-target="#myModal">Services</button></li>-->
          <li role="presentation">
            <div class="dropdown">
              <button class="btn btn-link dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Campus Life
  <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal">Career Options</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal">Admission Notifications</a></li>
              </ul>
            </div>
          </li>
          <li role="presentation">
              <button class="btn btn-link" ng-click="toTrends()">What's Trending</button>
          </li>
          <li role="presentation"><a href="contact.html">Contact</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
          <button class="btn btn-primary" ng-click="goToLogin()">Login/Register</button>
            </form>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="my-slider" class="carousel slide" data-ride="carousel">


        <ol class="carousel-indicators">
          <li data-target="#my-slider" data-slide-to="0" class="active"></li>
          <li data-target="#my-slider" data-slide-to="1"></li>
          <li data-target="#my-slider" data-slide-to="2"></li>
        </ol>

        <!-- wrapper for slides-->
        <div class="carousel-inner" role="listbox">
          <div class="item active" style="background-image: url(images/slider/slide1.png)">
            <!--<img src="images/slider/slide1.png" alt="Slides">-->
            <div class="carousel-caption">
              <h1>Slide 1</h1>
            </div>
          </div>
          <div class="item" style="background-image: url(images/slider/slide2.png)">
            <!--<img src="images/slider/slide2.png" alt="Slides">-->
            <div class="carousel-caption">
              <h1>Slide 2</h1>
            </div>
          </div>
          <div class="item" style="background-image: url(images/slider/slide3.png)">
            <!--<img src="images/slider/slide3.png" alt="Slides">-->
            <div class="carousel-caption">
              <h1>Slide 3</h1>
            </div>
          </div>
        </div>

        <!-- Prev and Next  -->
        <a class="left carousel-control" href="#my-slider" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#my-slider" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </div>
</div>

<div class="feature">
  <div class="container">
    <div class="text-center">
      <div class="col-md-3">
        <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
          <i class="fa fa-book"></i>
          <h2>Full Responsive</h2>
          <p>Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="hi-icon-wrap hi-icon-effect wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
          <i class="fa fa-laptop"></i>
          <h2>Retina Ready</h2>
          <p>Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="hi-icon-wrap hi-icon-effect wow fadeInUpBig" data-wow-duration="1000ms" data-wow-delay="900ms">
          <i class="fa fa-heart-o"></i>
          <h2>Full Responsive</h2>
          <p>Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="hi-icon-wrap hi-icon-effect wow rotateInUpRight" data-wow-duration="1000ms" data-wow-delay="1200ms">
          <i class="fa fa-cloud"></i>
          <h2>Friendly Code</h2>
          <p>Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade wow rotateIn" data-wow-duration="1000ms" id="myModal" role="dialog" ng-controller="LoginCtrl">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" id="myModalHeader">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Please Register For Free</h4>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-sm-2">
            &nbsp;
          </div>

          <div class="col-sm-8">
            <form class="form-register" name="userForm" ng-submit="createAccount()" novalidate>

              <!--FIRST NAME -->

              <div class="form-group" ng-class="{ 'has-error' : userForm.firstname.$invalid && !userForm.firstname.$pristine }">
                <input type="text" placeholder="First Name" name="firstname" class="form-control" ng-model="user_info.firstName" required>
                <p ng-show="userForm.firstname.$invalid && !userForm.firstname.$pristine" class="help-block">First Name is required.</p>
              </div>

              <!--LAST NAME -->
              <div class="form-group" ng-class="{ 'has-error' : userForm.lastname.$invalid && !userForm.lastname.$pristine }">
                <input type="text" placeholder="Last Name" name="lastname" class="form-control" ng-model="user_info.lastName" required>
                <p ng-show="userForm.lastname.$invalid && !userForm.lastname.$pristine" class="help-block">Last Name is required.</p>
              </div>

              <!--STATE NAME -->
              <div class="form-group" ng-class="{ 'has-error' : userForm.state.$invalid && !userForm.state.$pristine }">
                <!--<input type="text" placeholder="State" name="state" class="form-control" ng-model="user_info.state" required>-->
                <select class="form-control" name="state" ng-model="user_info.state" required>
                    <option value="">Select State</option>
                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                    <option value="Daman and Diu">Daman and Diu</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Orissa">Orissa</option>
                    <option value="Pondicherry">Pondicherry</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttaranchal">Uttaranchal</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="West Bengal">West Bengal</option>
                </select>
                <p ng-show="userForm.state.$invalid && !userForm.state.$pristine" class="help-block">City is required.</p>
              </div>


              <!--CITY NAME -->
              <div class="form-group" ng-class="{ 'has-error' : userForm.city.$invalid && !userForm.city.$pristine }">
                <input type="text" placeholder="City" name="city" class="form-control" ng-model="user_info.city" required>
                <p ng-show="userForm.city.$invalid && !userForm.city.$pristine" class="help-block">City is required.</p>
              </div>

              <!-- USERNAME -->
              <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                <input type="text" placeholder="User Name" name="username" class="form-control" ng-model="user_info.userName" ng-minlength="3" ng-maxlength="8" required>
                <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">Username is required.</p>
                <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
                <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
              </div>

              <!-- EMAIL -->
              <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <input type="email" placeholder="Email" name="email" class="form-control" ng-model="user_info.email" required>
                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
              </div>

              <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                <input type="password" placeholder="Password" name="password" class="form-control" ng-model="user_info.password" required>
                <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Enter a valid password.</p>
              </div>

              <div class="divider"></div>
              <button type="submit" class="btn btn-primary center-block" id="register-btn" ng-disabled="userForm.$invalid">Register</button>

            </form>
          </div>

          <div class="col-sm-2">
            &nbsp;
          </div>

        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-primary center-block" ng-click="createAccount()" data-dismiss="modal">REGISTER</button>
      </div>-->
    </div>

  </div>
</div>

<!--<script src="js/jquery.prettyPhoto.js"></script>
  <script src="js/jquery.isotope.min.js"></script>-->
