<video preload="true" autoplay="autoplay" loop="loop" poster="pic.png" id="fullscreen">
      <source src="videos/Piper.mp4" type="video/mp4">
        <source src="videos/Piper.webm" type="video/webm">
          <source src="videos/Piper.ogg" type="video/ogg">
  </video>
<svg x="0" y="0" width="70px" height="70px" viewBox="0 0 200 200" class="play play--ripple">
                             <circle fill="transparent" stroke="#FFFFFF" stroke-width="8" cx="100" cy="100" r="96"></circle>
                             <circle clip-path="url(#clipper)" fill="url(#ripple)" cx="100" cy="100" r="130"></circle>
                              <polygon fill="#FFFFFF" points="70.993,60.347 153.398,102.384 70.993,144.42   "></polygon>
                            </svg>
<button class="btn btn-warning btn-lg center-block" id="land-btn" style="opacity: 0.7;" ng-click="getStarted()">GET STARTED</button>
