<div class="container-fluid">

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0);">Inspired Learning</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a class="btn btn-link" ng-click="home()"><h5><i class="fa fa-home"></i></h5></a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default animated swing" id="anim">
        <div class="panel-heading" style="background-image: url(images/trends/science1.jpg); height: 300px;">
        </div>
        <div class="panel-body" id="trendsPanel">
          <h4>Science & Research</h4>
          <p>Science is what we do to find out about the natural world. It is the total of physics, chemistry, biology, geology and astronomy. Science makes use of mathematics, and it makes observations and experiments</p>
        </div>
        <div class="panel-footer">
          <button class="btn btn-success">Learn more</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">

      <div class="panel panel-default animated swing" id="anim">
        <div class="panel-heading" style="background-image: url(images/trends/politics1.jpg); height: 300px;">
        </div>
        <div class="panel-body" id="trendsPanel">
          <h4>Politics</h4>
          <p>Politics is the way that people living in groups make decisions. Politics is about making agreements between people so that they can live together in groups such as tribes, cities, or countries.</p>
        </div>
        <div class="panel-footer">
          <button class="btn btn-success">Learn more</button>
        </div>
      </div>
    </div>

    <div class="col-sm-4">

      <div class="panel panel-default animated swing" id="anim">
        <div class="panel-heading" style="background-image: url(images/trends/art.jpg); height: 300px;">
        </div>
        <div class="panel-body" id="trendsPanel">
          <h4>Arts And Entertainment</h4>
          <p>Arts and entertainment in India have had their course shaped by a synthesis of indigenous and foreign influences that have consequently shaped the course of the arts of the rest of Asia, since ancient times.</p>
        </div>
        <div class="panel-footer">
          <button class="btn btn-success">Learn more</button>
        </div>
      </div>
    </div>

    <div class="col-sm-4">

      <div class="panel panel-default animated swing" id="anim">
        <div class="panel-heading" style="background-image: url(images/trends/business.jpg); height: 300px;">
        </div>
        <div class="panel-body" id="trendsPanel">
          <h4>Business</h4>
          <p>The word "business" can refer to a particular organization or to an entire market sector (for example, "the finance business" is "the financial sector") or to all economic sectors collectively ("the business sector")</p>
        </div>
        <div class="panel-footer">
          <button class="btn btn-success">Learn more</button>
        </div>
      </div>
    </div>

    <div class="col-sm-4">

      <div class="panel panel-default animated swing" id="anim">
        <div class="panel-heading" style="background-image: url(images/trends/sports.jpg); height: 300px;">
        </div>
        <div class="panel-body" id="trendsPanel">
          <h4>Sports</h4>
          <p>Sport (British English) or sports (American English) includes all forms of competitive physical activity or games which,[1] through casual or organised participation, aim to use, maintain or improve physical ability and skills while providing enjoyment to participants, and in some cases, entertainment for spectators.</p>
        </div>
        <div class="panel-footer">
          <button class="btn btn-success">Learn more</button>
        </div>
      </div>
    </div>
  </div>
</div>
